* {
    margin: 0;
    padding: 0;
}

body {
    height: 70vh;
    background-color: rgb(0, 74, 173);
}

.center{
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 8px solid #ffde59 ;
    border-radius: 20px;
}
